*{
  box-sizing: border-box
  margin:0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #2B044D;
  font-family: 'Oxygen', sans-serif;
  margin:0;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color: #46067D;
  border:0;
  }
#k{
  font-family: 'Ultra', serif;
  color: #838383;
  font-size:30px;
  
  text-shadow: 1px 1px #000000;
  margin-top: 15px;
  vertical-align: middle;
  display: inline-block;

}
#one{
  font-family: Aldrich  ;
  font-size: 20px;
  font-weight: bolder;
  font-color:#004D0E; 
}

.navbar button.navbar-toggler{
  border: 1px solid #7e2e02;
  position: relative;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#third{
  margin-bottom: 10px;
  margin-top: 10px;
}

#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/*MAIN-CONTENT*/


/* Body */

#container{
  width:120%;
  margin-top: 2em;


}
.pricetab{
  width:20%;
  margin-left: 1em;
  margin-top: -2em;
  margin-bottom: 2em;
  min-width:220px;
  background: linear-gradient(#555, #444);
  float:left;
  margin-top:.2%;
  box-shadow:1px 1px 5px rgba(0, 0, 0, .5);
}

.infos{
  margin-top:10%;
}

h1{
  font-size:18px;
  color:#fff;
  text-align:center;
  line-height:3;
}
h2{
  text-align:center;
  font-size:42px;
  color:#fff;
}

h3{
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color:#fff;
  line-height:1;
}
#pname{
  font-family: aldrich;
  font-size: 1.5em;
  font-weight: bold;
  color: #B18A75;
  text-align: center;
}
#tname{
  margin-top: -10px;
  font-family: Lora;
  font-size: 1em;
  color: #FFFF7EFF;
}
#tt{
  margin-top: 25px;
  text-align: center;
  width: 1200px;
  padding-left: 500px;


/* Buttons */ 
