*{
  box-sizing: border-box
  margin:0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #2B044D;
  font-family: 'Oxygen', sans-serif;
  margin:0;
  padding: 0;
}

/** HEADER **/
#header-nav {
  background-color: #46067D;
  border:0;
  }
#k{
  font-family: 'Ultra', serif;
  color: #838383;
  font-size:30px;
  
  text-shadow: 1px 1px #000000;
  margin-top: 15px;
  vertical-align: middle;
  display: inline-block;

}
#one{
  font-family: Aldrich  ;
  font-size: 20px;
  font-weight: bolder;
  font-color:#004D0E; 
}

.navbar button.navbar-toggler{
  border: 1px solid #7e2e02;
  position: relative;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#third{
  margin-bottom: 10px;
  margin-top: 10px;
}

#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
/*.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}*/

#main-content img{
  margin-top: 50px;
  margin-left: -50px;
  margin-bottom: 40px;
  width: 50%;
  box-shadow: 0 0 25px #611230;
}
table.main-table{
  text-align: center;
  border: 2px ;
  border-style: solid;
  border-color: #05FF00; 
  width: 50%;
  margin:50px -45px 20px 10px;
  border-collapse: collapse;
  }

table.main-table tr{
  text-align: : center;
  color: #FEFE00FF;
  text-transform: uppercase;
}
table.main-table th{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.top{
    text-align:center;
    background-color: #EF6700;
    border: 2px #05FF00 solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
#HEADLINES{
  font-family: 'Ultra', serif;
  text-align: center;
  font-size: 1.4em;
  padding-top: 15px;
  padding-bottom: 15px; 
  /*font-weight: bolder;*/
  color:#3322EE;
}
.rank{
  font-family: Aldrich;
  color: #989c9b;
  margin-left: 60px;
  padding-top: 10px;
  padding-bottom: 7px;
}
.wrapper {
  margin-left: 70px;
  width: 41%;
  padding-top: 10px;
  padding-bottom:10px;
  overflow: hidden;
}
table.table1 {
    border-collapse: collapse;
    width: 100%;
    background: #A5A;
}
table.table1 th {

    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

table.table1 td, th {
    padding: 1em 1.5em;
    text-align: left;
}

table.table1 tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

table.table1 td.rank {
  text-transform: capitalize;
}
.image{
  float: right;
  margin-top: -25.5%;
  margin-right: 27em;
  
}
.image1{
  float: right;
  margin-top: -25.5%;
  margin-right: 4em;
}
.had{
  color: #A52A2A;
  font-family: ALdrich;
  font-size: 1.5em;
  font-weight: bolder;
}
.non a:hover{
  text-decoration:none;
  opacity: .5;
}




/* END HOME PAGE */





